body {
  background-color: #b3f9ff; /* สีพื้นหลังหลัก */
}

nav {
  background-color: #78e6c5; /* พื้นหลัง Navbar */
  color: rgb(132, 255, 191);
  padding: 10px 20px;
}

footer {
  background-color: #6bb5b9; /* พื้นหลัง Footer */
  color: rgb(183, 255, 82);
  text-align: center;
  padding: 15px 0;
}

section {
  padding: 20px;
  background-color: #cdffdc; /* สีพื้นหลังของ Section */
  border-radius: 8px;
  margin: 10px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

h3 {
  color: #0056b3;
}

img {
  border-radius: 8px;
}
